[user]
	email = 
	name = amar
[core]
	excludesfile = ~/.gitignore_global
	compression = 0
	pager = diff-so-fancy | less --tabs=4 -RFX
[push]
    default = nothing

[difftool "visdiff"]
    path = /Applications/VisualDiffer.app/Contents/Resources/visdiff
    trustExitCode = false
[difftool]
    prompt = false
[diff]
    tool = visdiff
	context = 0
[mergetool "visdiff"]
    path = /Applications/VisualDiffer.app/Contents/Resources/visdiff
    trustExitCode = false
[mergetool]
    keepBackup = false
[merge]
    tool = visdiff
[credential]
    helper = osxkeychain

[alias]
    st = status
    s = status -s
    gst = git status
    gs = git status -s

    d = diff
    ds = diff --stat
    dc = diff --cached
    dlc = diff --cached HEAD^   #diff last commit
    
    a = add
    aa = add --all
    apa = add --patch
    gau = git add -u
 
    b = branch
    ba = branch -a
    br = branch --remote
    del = branch -D    
    
    c = checkout
    cb = checkout -b
    
    ca = commit -v --amend
    cl = clone
    
    m = merge
    
    rh = reset HEAD
    uc = reset --soft HEAD~1        #undo commit    
    
    pr = pull --rebase
    
    po = push origin
    
    fo = fetch origin
    
    cm = commit -m
    cv = commit --verbose
    cam = commit -a --verbose
    cav = commit -a --verbose
    ci = commit --interactive
    
    l = log
    log = log --graph --pretty=oneline --abbrev-commit
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    fl = log -u
	
    f = "!git ls-files | grep -i"    # find a file path in git codebase

    gr = grep -Ii       #search grep entire codebase for a string
    
    r = remote -v

    ui = gui citool
    
    la = "!git config -l | grep alias | cut -c 7-"      #list aliases
[http]
	postBuffer = 524288000
	getBuffer = 157286400

[github]
	user = amarendra
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
