[user]
	email = er.amar@gmail.com
	name = amar
[core]
	excludesfile = ~/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.0.5.2/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
    default = nothing

[difftool "kdiff3"]
    path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
    trustExitCode = false
[difftool]
    prompt = false
[diff]
    tool = kdiff3
[mergetool "kdiff3"]
    path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
    trustExitCode = false
[mergetool]
    keepBackup = false
[merge]
    tool = kdiff3
[credential]
    helper = osxkeychain

[alias]
    st = status
    s = status -s
    d = diff
    a = add
    aa = add --all
    apa = add --patch
    b = branch
    ba = branch -a
    br = branch --remote
    c = checkout
    ca = commit -v --amend
    cl = clone
    m = merge
    rh = reset HEAD
    pr = pull --rebase
    po = push origin
    fo = fetch origin
    cm = commit -m
    ci = commit --interactive
    co = checkout
    del = branch -D
    l = log
    log = log --graph --pretty=oneline --abbrev-commit
    r = remote -v
    ui = gui citool
