<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>amar.restic.maintenance</string>
	<key>ProgramArguments</key>
	<array>
		<string>sh</string>
		<string>-c</string>
		<string>$HOME/.dotfiles/restic.maintain.sh</string>
	</array>
	<key>StandardOutPath</key>
  	<string>$HOME/.restic/log/restic.log</string>
	<key>StandardErrorPath</key>
	<string>$HOME/.restic/log/restic_error.log</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>30</integer>
			<key>Weekday</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>30</integer>
			<key>Weekday</key>
			<integer>4</integer>
		</dict>
	</array>
	<key>UserName</key>
	<string>$USER</string>
	<key>Nice</key>
  	<integer>10</integer>
</dict>
</plist>
