<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>amar.restic.maintenance</string>
	<key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/bin:/usr/bin:/usr/local/bin</string>
    </dict>
	<key>Program</key>
	<string>/Users/amarendra.kumar/.dotfiles/restic.maintain.sh</string>
	<key>StandardOutPath</key>
  	<string>/Users/amarendra.kumar/Library/Logs/restic/restic-m--std-out-err.log</string>
	<key>StandardErrorPath</key>
  	<string>/Users/amarendra.kumar/Library/Logs/restic/restic-m--std-out-err.log</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>30</integer>
			<key>Weekday</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>30</integer>
			<key>Weekday</key>
			<integer>5</integer>
		</dict>
	</array>
	<key>Nice</key>
  	<integer>10</integer>
</dict>
</plist>
